/* Copyright 2013 Google Inc. All Rights Reserved. */
#gdx-bubble-container {
    display: block!important;
    z-index: 99991!important;
}

#gdx-bubble-container, #gdx-bubble-container * {
    background: #fff!important;
    background-repeat: no-repeat!important;
    border: 0!important;
    box-sizing: border-box;
    color: #666!important;
    direction: ltr!important;
    font-family: 'Microsoft YaHei','Segoe UI',sans-serif!important;
    font-style: normal!important;
    font-variant: normal!important;
    font-weight: normal!important;
    line-height: normal!important;
    margin: 0!important;
    padding: 0!important;
    position: static!important;
    text-align: left!important;
    width: auto!important;
    height: auto!important;
}

#gdx-bubble-container div {
    display: block!important;
}

#gdx-bubble-container a {
    color: #58d!important;
    display: inline!important;
    font-size: 14px!important;
    text-decoration: underline!important;
}

#gdx-bubble-container b {
    display: inline!important;
    font-weight: bold!important;
}

#gdx-bubble-container .gdx-display-none {
    display: none!important;
}

#gdx-bubble-container .gdx-display-block {
    display: block!important;
}

#gdx-bubble-container .gdx-display-inline {
    display: inline!important;
}

#gdx-bubble-container *:after, #gdx-bubble-container *:before {
    content: ''!important;
}

#gdx-bubble-container #gdx-bubble-main {
    border: 1px solid #ccc!important;
    /*border-radius: 4px!important;*/
    color: #666!important;
    padding: 10px 15px!important;
    position: absolute!important;
    width: 270px!important;
    z-index: 99992!important;
    box-shadow: rgba(0,0,0,0.3) 0px 1px 1px!important;
}

#gdx-bubble-container .gdx-bubble-phonetic,
#gdx-bubble-container .gdx-bubble-part-of-speech {
    display: inline-block!important;
    position: relative!important;
    top: -4px!important;
    margin-right: 5px!important;
    line-height: 20px!important;
    height: 22px!important;
}

#gdx-bubble-container .gdx-bubble-phonetic {
    color: #999!important;
    font-family: Arial!important;
}

#gdx-bubble-container .gdx-bubble-part-of-speech {
    color: #ccc!important;
}

#gdx-bubble-container .gdx-bubble-part-of-speech i {
    color: #fb0!important;
    font-size: 12px!important;
    cursor: default!important;
}

#gdx-bubble-container #gdx-bubble-meaning {
    font-size: 14px!important;
    color: #666!important;
    padding-right: 5px!important;
    margin-right: -5px!important;
    overflow: auto!important;
    max-height: 250px!important;
}

#gdx-bubble-container #gdx-bubble-meaning p:not(:last-child) {
    margin-bottom: 3px!important;
}

#gdx-bubble-container #gdx-bubble-close {
    display: none!important;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAAA3NCSVQICAjb4U/gAAAABlBMVEX////dzHd5vQnAAAAAAnRSTlMA/1uRIrUAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAFUlEQVQImWM4zPCcoY7BBgjrgKzDACZQBMlbvpNAAAAAAElFTkSuQmCC')!important;
    cursor: pointer!important;
    float: right!important;
    margin: -3px -3px 7px 7px!important;
    width: 8px!important;
    height: 8px!important;
    z-index: 99996!important;
}

#gdx-bubble-container #gdx-bubble-help {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAIAQMAAADgCBx7AAAAA3NCSVQICAjb4U/gAAAABlBMVEX////dzHd5vQnAAAAAAnRSTlMA/1uRIrUAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAFklEQVQImWOoYDjDwMMgwWAAhAwMBgAVQAH5s/zvDAAAAABJRU5ErkJggg==')!important;
    cursor: pointer!important;
    float: right!important;
    margin: -3px -3px 7px 7px!important;
    width: 8px!important;
    height: 8px!important;
    z-index: 99996!important;
}

#gdx-bubble-container #gdx-bubble-query {
    float: left!important;
    font-size: 18px!important;
    color: #222!important;
}

#gdx-bubble-container #gdx-bubble-audio-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAAA3NCSVQICAjb4U/gAAAADFBMVEX////MzMyZmZlmZmZ90EaMAAAABHRSTlMA////sy1AiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAArSURBVAiZY2BAA+wHgIT8gQsMDPVnFzDw/z9eAiQOm8AIIBcsAVECVowCALBMEWET6juKAAAAAElFTkSuQmCC')!important;
    background-position: center center!important;
    cursor: pointer!important;
    float: left!important;
    margin-top: 2px!important;
    margin-left: 4px!important;
    width: 16px!important;
    height: 20px!important;
    transition: opacity linear 0.2s!important;
    opacity: 0.5!important;
}

#gdx-bubble-container #gdx-bubble-audio-icon:hover {
    opacity: 1!important;
}

#gdx-bubble-container #gdx-bubble-query-container-end {
    clear: left!important;
    height: 5px!important;
}

#gdx-bubble-container #gdx-bubble-options-tip {
    margin: 6px -3px 0px -3px!important;
    padding: 5px 8px!important;
    background-color: #fb0!important;
    color: rgba(255,255,255,0.8)!important;
    font-size: 12px!important;
}

#gdx-bubble-container #gdx-bubble-options-tip a {
    color: #fff!important;
    font-size: 12px!important;
    text-decoration: none!important;
    background: none!important;
}

#gdx-bubble-container #gdx-bubble-options-tip a:hover {
    text-decoration: underline!important;
}

#gdx-bubble-container #gdx-bubble-more {
    font-size: 10px!important;
    clear: both!important;
    margin: 0px -15px -10px -15px!important;
    border-top: solid 10px #fff!important;
    background-color: #f9f9f9!important;
    padding-top: 2px!important;
    line-height: 20px!important;
    height: 32px!important;
    padding-right: 8px!important;
    text-align: right!important;
}

#gdx-bubble-container #gdx-bubble-more a {
    font-size: 10px!important;
    color: #ccc!important;
    text-decoration: none!important;
    background: none!important;
}

#gdx-bubble-container #gdx-bubble-attribution * {
    color: #ccc!important;
    float: left!important;
    font-size: 14px!important;
    margin-top: 3px!important;
    overflow: hidden!important;
    text-align: left!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    width: 240px!important;
}

#gdx-bubble-container #gdx-bubble-attribution a {
    color: #58d!important;
    text-decoration: none!important;
}

#gdx-bubble-container #gdx-bubble-attribution a:hover {
    text-decoration: underline!important;
}

#gdx-bubble-container #gdx-arrow-container {
    z-index: 99996!important;
}

#gdx-bubble-container #gdx-arrow-main {
    position: absolute!important;
    z-index: 99997!important;
}

#gdx-bubble-container #gdx-bubble-arrow-inner-up,
#gdx-bubble-container #gdx-bubble-arrow-inner-down {
    background: transparent!important;
    border-left: 10px solid transparent!important;
    border-right: 10px solid transparent!important;
    left: 0px!important;
    position: absolute!important;
    width: 0!important;
    z-index: 99999!important;
}

#gdx-bubble-container #gdx-bubble-arrow-inner-up {
    border-bottom: 10px solid #fff!important;
    top: 1px!important;
}

#gdx-bubble-container #gdx-bubble-arrow-inner-down {
    border-top: 10px solid #fff!important;
    top: -1px!important;
}

#gdx-bubble-container.gdx-status-loaded #gdx-bubble-arrow-inner-down {
    border-top-color: #f9f9f9!important;
}

#gdx-bubble-container #gdx-bubble-arrow-outer-up,
#gdx-bubble-container #gdx-bubble-arrow-outer-down {
    background: transparent!important;
    border-left: 10px solid transparent!important;
    border-right: 10px solid transparent!important;
    left: 0!important;
    position: absolute!important;
    width: 0!important;
    z-index: 99998!important;
}

#gdx-bubble-container #gdx-bubble-arrow-outer-up {
    border-bottom: 10px solid #ccc!important;
}

#gdx-bubble-container #gdx-bubble-arrow-outer-down {
    border-top: 10px solid #ccc!important;
    margin-top: 1px!important;
}

.nytd_selection_button {
    display: none!important;
}
